
<h1 text-align: center; style="color:red;">Hello!</h1>

<h2  <b>My name is Riya and I am a second year CS Major. I am originally from San Jose, which is about an hour drive from Berkeley. I am excited to make my own web app in this class.<b/> </h2>
